@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.footer ul a, .header ul a {
  font-size: 12px;
  line-height: 15px;
  color: #697CA6;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-shadow: 0px 0px 5px #E6E6E6;
  text-align: center;
}

.btn {
  border-radius: 2px;
}

.btn-link {
  font-size: 13px;
  transition: 0.3s;
  line-height: 16px;
  text-align: center;
  font-family: Quicksand, "sans-serif";
  min-width: 113px;
  min-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
}

body {
  font-family: Quicksand, "sans-serif";
  font-weight: medium;
  color: #8D96BD;
  font-size: 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-left {
  width: 50%;
}

.col-right {
  width: 50%;
}

.d-flex {
  display: flex;
}

.link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.header {
  padding: 19px;
  border-bottom: 1px solid #D8E3FE;
}
.header__menu {
  column-gap: 73px;
  align-items: center;
}
.header__logo a {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #5E81FE;
}
.header ul {
  align-items: center;
  column-gap: 42px;
}
.header ul a:hover {
  font-weight: bold;
  color: #5E81FE;
  transition: 0.3s;
}
.header__social {
  justify-content: end;
  align-items: center;
  column-gap: 44px;
}
.header__social_icon {
  column-gap: 35px;
}
.header__social_button {
  background-color: #D2E1FF;
}
.header__social_button .btn-link {
  color: #3A79FF;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.footer {
  padding: 93px 108px;
}
.footer__menu {
  column-gap: 73px;
  align-items: center;
}
.footer__logo a {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #5E81FE;
}
.footer ul {
  align-items: center;
  column-gap: 42px;
}
.footer ul a:hover {
  font-weight: bold;
  color: #5E81FE;
  transition: 0.3s;
}
.footer__social {
  justify-content: end;
  align-items: center;
  column-gap: 44px;
}
.footer__social_icon {
  column-gap: 35px;
}
.footer__social_button {
  background-color: #D2E1FF;
}
.footer__social_button .btn-link {
  color: #3A79FF;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer__copy {
  margin: 28px 0 0 99px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.banner {
  padding: 92px 0 212px;
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}
.main {
  flex-grow: 1;
}

/*# sourceMappingURL=style.css.map */
