@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  min-height: 100vh;
  min-width: 100vw;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.footer ul a, .header ul a, nav {
  font-size: 12px;
  line-height: 15px;
  color: #697CA6;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-shadow: 0 0 5px #E6E6E6;
  text-align: center;
  font-family: Quicksand, "sans-serif";
}

.btn {
  border-radius: 2px;
}

.btn-link {
  font-size: 13px;
  font-weight: 700;
  transition: 0.3s;
  line-height: 16px;
  text-align: center;
  font-family: Quicksand, "sans-serif";
  min-width: 113px;
  min-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
  letter-spacing: 0;
}

.banner__header h1 {
  font-family: Quicksand, "sans-serif";
  font-size: 48px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 0;
}

.quotes__title, .blog__article_title, .plan__text h2 {
  font-family: Quicksand, "sans-serif";
  font-size: 36px;
  line-height: 45px;
  color: #3D4F9F;
  letter-spacing: 0;
}

.quotes__mini-header, .blog__header > p, .features__header p, .plan__header, .banner__subtitle {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #3D4F9F;
  text-transform: uppercase;
  font-family: Roboto, "sans-serif";
}

.blog__title, .features__header h2 {
  font-family: Quicksand, "sans-serif";
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0;
  color: #3D4F9F;
}

.stats p {
  font-family: Quicksand, "sans-serif";
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0;
}

.plan__info, .banner__text {
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
}

.quotes__text-info, .footer__copy {
  font-size: 12px;
  line-height: 15px;
  font-family: Quicksand, "sans-serif";
  letter-spacing: 0.05em;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: Roboto, "sans-serif";
  color: #8D96BD;
  font-size: 14px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.03em;
}

.main {
  margin-top: 81px;
}

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-left {
  width: 50%;
}

.col-right {
  width: 50%;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.dote {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D6DAE5;
}
.dote-active {
  background-color: #5E81FE;
}
.dote:hover {
  background-color: #5E81FE;
  transition: 0.3s;
}

@media (max-width: 1236px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 767px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 576px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
.header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background-color: #fff;
  padding: 19px;
  border-bottom: 1px solid #D8E3FE;
}
.header input {
  display: none;
}
.header__menu {
  column-gap: 73px;
  align-items: center;
}
.header__logo > a {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #5E81FE;
}
.header ul {
  align-items: center;
  column-gap: 42px;
}
.header ul a:hover {
  font-weight: 700;
  color: #5E81FE;
  transition: 0.3s;
}
.header__social {
  justify-content: end;
  align-items: center;
  column-gap: 44px;
}
.header__social_icon {
  column-gap: 35px;
}
.header__social_icon a svg > path {
  fill: #B6BAC7;
}
.header__social_icon a:hover svg > path {
  transition: 0.3s;
  fill: #6188FF;
}
.header__social_icon a:visited svg > path {
  fill: #757E9A;
}
.header__social_icon svg > path:hover {
  transition: 0.3s;
  fill: #6188FF;
}
.header__social_icon svg > path:active {
  fill: #5E81FE;
}
.header__social_button {
  background-color: #D2E1FF;
  color: #3A79FF;
}
.header__social_button .btn-link {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1236px) {
  .header__menu {
    column-gap: 40px;
  }
  .header__logo > a {
    width: 28px;
    height: 28px;
  }
  .header ul {
    column-gap: 38px;
  }
}
@media (max-width: 1024px) {
  .header {
    border-bottom: 1px solid #D8E3FE;
  }
  .header .row {
    width: 100%;
  }
  .header .col-left {
    width: initial;
  }
  .header .col-right {
    width: initial;
  }
  .header__menu {
    column-gap: 27px;
  }
  .header ul {
    column-gap: 24px;
  }
  .header__social {
    flex-grow: 1;
    column-gap: 25px;
  }
  .header__social_icon {
    column-gap: 20px;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 0;
  }
  .header__wrapper {
    position: relative;
    padding: 19px;
  }
  .header__menu {
    column-gap: 15px;
    align-items: center;
    order: 2;
    flex-grow: 1;
    justify-content: flex-end;
  }
  .header__logo {
    order: 2;
  }
  .header__logo > a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #5E81FE;
  }
  .header nav {
    order: 1;
  }
  .header nav label {
    display: block;
  }
  .header nav label span {
    background-color: #D2E1FF;
    color: #3A79FF;
    min-width: 43px;
    border-radius: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px 5px 0 rgba(34, 60, 80, 0.2);
    position: relative;
    top: 0;
    transition-duration: 500ms;
  }
  .header nav label span:active {
    top: 2px;
    box-shadow: 0 2px 5px 0 rgba(34, 60, 80, 0.2);
    transition-duration: 500ms;
  }
  .header nav [type=checkbox]:checked + ul {
    display: block;
  }
  .header nav ul {
    display: none;
    background-color: #D2E1FF;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    column-gap: 42px;
  }
  .header nav ul li {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
  }
  .header nav ul li:first-of-type {
    border-top: 1px solid #fff;
  }
  .header nav ul a {
    display: inline-block;
    font-size: 15px;
    color: #3A79FF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .header nav ul a:hover {
    font-weight: 700;
    color: #5E81FE;
    transition: 0.3s;
  }
  .header__social {
    flex-grow: 0;
    order: 1;
    column-gap: 30px;
  }
  .header__social_icon {
    order: 1;
    column-gap: 25px;
  }
}
@media (max-width: 576px) {
  .header__wrapper {
    padding: 19px;
  }
  .header nav ul li {
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
  }
  .header nav ul li:first-of-type {
    border-top: 1px solid #fff;
  }
  .header nav ul a {
    display: inline-block;
    font-size: 14px;
  }
}
@media (min-width: 767px) {
  .header label {
    display: none;
  }
}
@media (max-width: 470px) {
  .header__logo {
    display: none;
  }
  .header .hidden-btn {
    display: none;
  }
  .header .visible {
    display: list-item;
  }
  .header nav ul li a {
    font-size: 13px;
  }
  .header nav ul li:last-of-type {
    border-radius: 2px;
    background-color: #FFD7D7;
  }
  .header nav ul li:last-of-type a {
    color: #D43F3F;
  }
}
@media (min-width: 470px) {
  .header .visible {
    display: none;
  }
}

.footer {
  background-color: #fff;
  padding: 93px 0 108px;
  border-bottom: 1px solid #D8E3FE;
}
.footer__menu {
  column-gap: 73px;
  align-items: center;
}
.footer__logo > a {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #5E81FE;
}
.footer ul {
  align-items: center;
  column-gap: 42px;
}
.footer ul a:hover {
  font-weight: 700;
  color: #5E81FE;
  transition: 0.3s;
}
.footer__social {
  justify-content: end;
  align-items: center;
  column-gap: 44px;
}
.footer__social_icon {
  column-gap: 35px;
}
.footer__social_icon a svg > path {
  fill: #B6BAC7;
}
.footer__social_icon a:hover svg > path {
  transition: 0.3s;
  fill: #6188FF;
}
.footer__social_icon a:visited svg > path {
  fill: #757E9A;
}
.footer__social_icon svg > path:hover {
  transition: 0.3s;
  fill: #6188FF;
}
.footer__social_icon svg > path:active {
  fill: #5E81FE;
}
.footer__social_button {
  background-color: #D2E1FF;
  color: #3A79FF;
}
.footer__social_button .btn-link {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.footer__copy {
  margin: 28px 0 0 99px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.banner {
  padding: 20vh 0 0 0;
  height: calc(100vh - 81px);
  border-bottom: 1px solid #D8E3FE;
  position: relative;
  z-index: 1;
  background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
}
.banner:after {
  content: "";
  background: url("./../assets/images/main/banner/diagramma.svg") center/cover no-repeat;
  display: block;
  height: calc(100vh - 81px);
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: -20;
}
.banner:before {
  content: "";
  background: url("./../assets/images/main/banner/clouds.svg") center/cover no-repeat;
  display: block;
  height: calc(100vh - 81px);
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: -10;
}
.banner__header {
  margin: 0 auto;
  text-align: center;
}
.banner__header h1 {
  margin: 16px 0 28px;
  color: #3D4F9F;
}
.banner__header h1 span {
  font-weight: 500;
}
.banner__subtitle {
  color: #3D4F9F;
}
.banner__text {
  margin: 0 auto;
  max-width: 502px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #8D96BD;
  font-weight: 400;
  font-family: Roboto, "sans-serif";
}
.banner__play-video a {
  box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
}
.banner__play-video a:hover {
  background-color: #3D4F9F;
  cursor: pointer;
}
.banner__play-video a:hover svg > path {
  fill: #fff;
}
.banner__dotes {
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  column-gap: 12px;
}

.banner {
  position: relative;
}
@media (max-width: 1236px) {
  .banner__dotes {
    margin-top: 170px;
  }
}
@media (max-width: 1024px) {
  .banner:before {
    background-size: contain;
    background-repeat: repeat;
  }
  .banner:after {
    background-size: contain;
    height: 80%;
  }
  .banner__header h1 {
    margin: 16px 0 28px;
    font-size: 42px;
    line-height: 54px;
  }
  .banner__header__dotes {
    margin-top: 160px;
  }
}
@media (max-width: 767px) {
  .banner {
    font-size: 14px;
    line-height: 22px;
  }
  .banner:after {
    background-size: contain;
    height: 58%;
  }
  .banner__header h1 {
    margin: 15px 0 26px;
    font-size: 38px;
    line-height: 50px;
  }
  .banner__dotes {
    margin-top: 140px;
  }
  .banner .dote {
    width: 7px;
    height: 7px;
  }
}
@media (max-width: 576px) {
  .banner {
    font-size: 13px;
    line-height: 22px;
  }
  .banner:after {
    background-size: contain;
    height: 45%;
  }
  .banner__header h1 {
    margin: 15px 0 26px;
    font-size: 32px;
    line-height: 40px;
  }
  .banner__text {
    max-width: 420px;
    font-size: 13px;
  }
  .banner__dotes {
    margin-top: 120px;
  }
  .banner .dote {
    width: 6px;
    height: 6px;
  }
}
@media (max-width: 470px) {
  .banner:after {
    background-size: contain;
    height: 37%;
  }
  .banner__header h1 {
    margin: 13px 0 25px;
    font-size: 30px;
    line-height: 40px;
  }
  .banner__text {
    max-width: 100%;
  }
  .banner__dotes {
    margin-top: 120px;
  }
  .banner .dote {
    width: 6px;
    height: 6px;
  }
}
@media (max-width: 370px) {
  .banner:after {
    background-size: contain;
    height: 32%;
  }
}

.customer {
  padding: 60px 0;
  border-bottom: 1px solid #D8E3FE;
}
.customer .row {
  column-gap: 76px;
  justify-content: center;
  align-items: center;
}
.customer .row a svg > path {
  fill: #D6DAE5;
}
.customer .row a:hover svg > path {
  transition: 0.3s;
  fill: #5982E7;
}
.customer .row a:visited svg > path {
  fill: #757E9A;
}
.customer .row svg > path:hover {
  transition: 0.3s;
  fill: #5982E7;
}
.customer .row svg > path:active {
  fill: #5E81FE;
}

@media (max-width: 1236px) {
  .customer .row {
    column-gap: 75px;
    justify-content: center;
    align-items: center;
  }
  .customer .row svg {
    width: 110px;
  }
}
@media (max-width: 1024px) {
  .customer {
    padding: 55px 0;
  }
  .customer .row {
    column-gap: 35px;
    justify-content: space-between;
    align-items: center;
  }
  .customer .row svg {
    width: 105px;
  }
}
@media (max-width: 767px) {
  .customer {
    padding: 50px 0;
  }
  .customer .row {
    column-gap: 0;
    row-gap: 10px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .customer .row a {
    width: 33.3333333333%;
  }
}
@media (max-width: 576px) {
  .customer .row {
    column-gap: 2px;
    row-gap: 10px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .customer .row a {
    width: calc(33.3333333333% - 2px);
  }
  .customer .row svg {
    width: 100px;
  }
}
@media (max-width: 470px) {
  .customer {
    padding: 45px 0;
  }
  .customer .row {
    column-gap: 3px;
    row-gap: 8px;
    width: 100%;
  }
  .customer .row a {
    width: calc(33.3333333333% - 3px);
  }
  .customer .row svg {
    width: 82px;
  }
}

.plan {
  padding: 80px 0 30px;
  border-bottom: 1px solid #D8E3FE;
  background-color: #F5F8FF;
}
.plan__text {
  margin-top: 60px;
  align-items: end;
  flex-direction: column;
}
.plan__text_wrapper {
  max-width: 413px;
  margin-right: 30px;
}
.plan__text h2 {
  font-weight: 500;
  margin: 27px 0;
}
.plan__text h2 span {
  font-weight: 400;
}
.plan__header {
  color: #3D4F9F;
}
.plan__info {
  font-weight: 400;
  font-family: Roboto, "sans-serif";
  margin-bottom: 47px;
}
.plan__buttons a {
  min-width: 130px;
  display: flex;
  align-items: center;
  text-align: center;
}
.plan__buttons a:first-of-type {
  background-color: #4C85FF;
  color: #FFFFFF;
  box-shadow: 0 5px 15px rgba(188, 199, 255, 0.75);
  border-radius: 2px 0 0 2px;
  padding: 13px 24px;
}
.plan__buttons span {
  text-align: center;
}
.plan__buttons span:after {
  content: "";
  background: url("./../assets/images/main/plan/icon-btn.svg") center no-repeat;
  display: inline-block;
  width: 7px;
  height: 8px;
  padding-right: 8px;
  margin-left: 6px;
}
.plan__buttons a:last-of-type {
  background-color: transparent;
  color: #ADB4D2;
  border: 1px solid #D1D1E4;
  font-weight: 500;
  border-radius: 0 2px 2px 0;
  padding: 13px 23px;
}
.plan__image-wrapper {
  margin-right: -130px;
}
.plan__image-wrapper img {
  max-width: 100%;
}

@media (max-width: 1236px) {
  .plan {
    padding: 150px 0 110px;
  }
  .plan__text {
    margin-top: 50px;
  }
  .plan__image-wrapper {
    margin-right: -50px;
  }
  .plan__image-wrapper img {
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .plan {
    padding: 110px 0;
  }
  .plan__text {
    margin-top: 50px;
  }
  .plan__text_wrapper {
    margin: 0;
  }
  .plan__image {
    align-items: center;
    justify-content: center;
  }
  .plan__image-wrapper {
    margin-right: -35px;
  }
  .plan__image-wrapper img {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .plan {
    padding: 75px 0 90px;
  }
  .plan .row {
    flex-direction: column;
  }
  .plan .col-left {
    width: 100%;
  }
  .plan .col-right {
    width: 100%;
  }
  .plan__image {
    align-items: center;
    justify-content: center;
    order: -1;
  }
  .plan__image-wrapper {
    margin-right: 0;
  }
  .plan__image-wrapper img {
    max-width: 100%;
  }
  .plan__text {
    margin-top: 0;
  }
  .plan__text_wrapper {
    max-width: 100%;
    margin: 0;
  }
}
@media (max-width: 576px) {
  .plan {
    padding: 70px 0 85px;
  }
  .plan__text h2 {
    font-size: 32px;
    line-height: 42px;
  }
}
@media (max-width: 470px) {
  .plan {
    padding: 65px 0 80px;
  }
  .plan__text h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .plan__buttons a {
    width: 50%;
  }
}
.features {
  border-bottom: 1px solid #D8E3FE;
  padding: 170px 0;
  font-family: "Open Sans", "sans-serif";
  background: #fff url("./../assets/images/main/features/bg.svg") center center/contain no-repeat;
}
.features__header {
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.features__header p {
  color: #3D4F9F;
  margin-bottom: 20px;
}
.features__header h2 {
  font-weight: 500;
}
.features__row {
  column-gap: 67px;
  max-width: 761px;
  margin: 92px auto;
  justify-content: space-between;
}
.features__item {
  width: calc((100% - 201px) / 4);
  font-family: "Open Sans", "sans-serif";
}
.features__icon {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background: #F1F5FF;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #4074F8;
  margin: 33px 0 25px;
}
.features__text {
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #ADB3CB;
  font-weight: 600;
}
.features__buttons {
  display: flex;
  justify-content: center;
  column-gap: 48px;
}
.features__buttons p {
  display: inline-block;
  align-self: center;
  font-weight: 500;
  font-size: 11px;
  line-height: 19px;
  text-align: center;
  color: #ADB3CB;
  text-transform: uppercase;
  font-family: "Open Sans", "sans-serif";
  position: relative;
}
.features__buttons p::before {
  content: "";
  display: block;
  width: 15px;
  background-color: #DAE4FE;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -32px;
}
.features__buttons p::after {
  content: "";
  display: block;
  width: 15px;
  background-color: #DAE4FE;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 32px;
}
.features__btn-1 a {
  background-color: #FFD7D7;
  color: #D43F3F;
}
.features__btn-2 a {
  background-color: #D2E1FF;
  color: #3A79FF;
}

@media (max-width: 1236px) {
  .features {
    padding: 160px 0;
  }
}
@media (max-width: 1024px) {
  .features {
    padding: 150px 0;
  }
  .features__row {
    column-gap: 60px;
  }
  .features__item {
    width: calc((100% - 180px) / 4);
  }
}
@media (max-width: 767px) {
  .features {
    background-repeat: repeat;
    padding: 130px 0;
  }
  .features__row {
    column-gap: 70px;
    row-gap: 60px;
  }
  .features__item {
    width: calc(50% - 35px);
    font-family: "Open Sans", "sans-serif";
  }
}
@media (max-width: 576px) {
  .features {
    padding: 120px 0;
  }
}
@media (max-width: 470px) {
  .features {
    padding: 110px 0;
  }
  .features__row {
    row-gap: 60px;
    margin: 65px auto 80px;
  }
  .features__item {
    width: 100%;
  }
  .features__item p {
    max-width: 300px;
    margin: 0 auto;
  }
  .features__buttons {
    flex-direction: column;
  }
  .features__buttons p {
    margin: 30px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
  }
  .features__buttons p::before {
    width: 18px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -37px;
  }
  .features__buttons p::after {
    width: 18px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 38px;
  }
}
@media (max-width: 370px) {
  .features {
    padding: 100px 0;
  }
  .features__row {
    margin: 60px auto 75px;
  }
  .features__item {
    width: 100%;
  }
  .features__item p {
    max-width: 100%;
    margin: 0 auto;
  }
  .features__buttons {
    flex-direction: column;
  }
  .features__buttons p {
    margin: 30px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
  }
  .features__buttons p::before {
    width: 18px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: -37px;
  }
  .features__buttons p::after {
    width: 18px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 38px;
  }
}

.stats .col-left {
  flex-direction: column;
  align-items: end;
}
.stats .col-right {
  flex-direction: column;
  align-items: start;
}
.stats-column {
  position: relative;
  z-index: 10;
}
.stats__productivity {
  padding: 66px 90px 66px 0;
  text-align: right;
  color: #fff;
}
.stats__productivity:after {
  content: "";
  display: block;
  height: 100%;
  width: 100vw;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
  z-index: -1;
}
.stats__app {
  padding: 70px 0 66px 90px;
  color: #5E80FF;
}
.stats__app:after {
  content: "";
  display: block;
  height: 100%;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
  z-index: -1;
}
.stats h3 {
  margin: 24px 0 25px;
  font-weight: 400;
  font-size: 48px;
  line-height: 83px;
}
.stats p {
  max-width: 260px;
  font-weight: 500;
  letter-spacing: 0.03em;
}

@media (max-width: 1024px) {
  .stats__productivity {
    padding: 66px 80px 66px 0;
  }
  .stats__app {
    padding: 70px 0 66px 80px;
  }
}
@media (max-width: 767px) {
  .stats__productivity {
    padding: 66px 70px 66px 0;
  }
  .stats__app {
    padding: 70px 0 66px 70px;
  }
}
@media (max-width: 576px) {
  .stats__productivity {
    padding: 66px 50px 66px 0;
  }
  .stats__app {
    padding: 70px 0 66px 50px;
  }
}
@media (max-width: 470px) {
  .stats .container {
    padding: 0;
  }
  .stats-column {
    width: 100%;
  }
  .stats__productivity {
    padding: 66px 15px 66px;
  }
  .stats__productivity-wrapper {
    margin: 0 auto;
  }
  .stats__app {
    padding: 70px 15px 66px;
  }
  .stats__app-wrapper {
    margin: 0 auto;
  }
}

.blog {
  border-bottom: 1px solid #D8E3FE;
  padding: 104px 0 212px;
  background: #F5F8FF;
  position: relative;
}
.blog .row {
  width: 100%;
  gap: 66px;
}
.blog .col-right {
  width: calc(50% - 33px);
}
.blog .col-left {
  width: calc(50% - 33px);
}
.blog__header {
  text-align: center;
  margin-bottom: 92px;
}
.blog__header > p {
  color: #3D4F9F;
  margin-bottom: 20px;
}
.blog__title {
  font-weight: 500;
}
.blog__article {
  background: #FFFFFF;
  border: 1px solid #D8E3FE;
  box-shadow: 0 15px 50px #EFF4FF;
  padding: 63px 41px 64px 35px;
  max-width: 958px;
  margin: 0 auto;
  position: relative;
}
.blog__article::before {
  content: "";
  background: url("./../assets/images/main/blog/arrow-left.svg") no-repeat;
  display: block;
  width: 30px;
  height: 20px;
  position: absolute;
  left: -103px;
  top: 50%;
  transform: translateY(-50%);
}
.blog__article::after {
  content: "";
  background: url("./../assets/images/main/blog/arrow-right.svg") no-repeat;
  display: block;
  width: 30px;
  height: 20px;
  position: absolute;
  right: -103px;
  top: 50%;
  transform: translateY(-50%);
}
.blog__article_title {
  font-weight: 400;
}
.blog__article_text p {
  margin: 32px 0 31px;
  font-weight: 400;
  max-width: 408px;
}
.blog__article_buttons {
  gap: 8px;
}
.blog__article_btn-1 {
  background-color: #D2E1FF;
  color: #3A79FF;
}
.blog__article_btn-2 {
  padding: 13px 15px;
  min-width: 181px;
}
.blog__article_img {
  max-width: 100%;
  gap: 13px;
}
.blog__article_img_btn-2 {
  display: none;
}
.blog__article_img-2-3 {
  flex-direction: column;
  gap: 14px;
  max-width: 127px;
}
.blog__article_img-1 {
  max-width: 267px;
  filter: drop-shadow(0 15px 100px #E5EBF8);
}
.blog__article_img-1 img {
  position: relative;
  z-index: 1;
  max-width: 100%;
}
.blog__article_img-1 [alt=search] {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blog__article_img-2 {
  filter: drop-shadow(0 15px 100px #E5EBF8);
}
.blog__article_img-2 img {
  max-width: 100%;
}
.blog__article_img-3 {
  filter: drop-shadow(0 15px 100px #E5EBF8);
}
.blog__article_img-3 img {
  max-width: 100%;
}
.blog__dotes {
  position: absolute;
  bottom: 104px;
  left: 50%;
  transform: translateX(-50%);
  column-gap: 12px;
}

@media (max-width: 1236px) {
  .blog__article {
    padding-left: 41px;
    max-width: 830px;
  }
  .blog__article::before {
    left: -73px;
  }
  .blog__article::after {
    right: -73px;
  }
  .blog__article_img {
    flex-direction: column;
  }
  .blog__article_img-2-3 {
    flex-direction: row;
    max-width: 267px;
  }
  .blog__article_img-2 {
    width: calc(50% - 7px);
  }
  .blog__article_img-3 {
    width: calc(50% - 7px);
  }
}
@media (max-width: 1024px) {
  .blog__article {
    max-width: 590px;
  }
  .blog__article::before {
    left: -65px;
  }
  .blog__article::after {
    right: -65px;
  }
  .blog__article_img {
    flex-direction: column;
    gap: 0;
  }
  .blog__article_img_btn-2 {
    display: block;
    justify-self: end;
  }
  .blog__article_img-2-3 {
    flex-grow: 1;
    max-width: 267px;
    margin: 13px 0 0 0;
  }
  .blog__article_btn-2 {
    display: none;
  }
}
@media (max-width: 767px) {
  .blog [alt=search] {
    max-width: 60px;
  }
  .blog__article {
    max-width: 455px;
  }
  .blog__article .row {
    flex-direction: column;
  }
  .blog__article .col-left {
    width: 100%;
  }
  .blog__article .col-right {
    width: 100%;
  }
  .blog__article::before {
    left: -50px;
  }
  .blog__article::after {
    right: -50px;
  }
  .blog__article_img {
    max-width: 100%;
    gap: 13px;
  }
  .blog__article_img-1 {
    margin: 0 auto;
  }
  .blog__article_img_btn-2 {
    display: none;
  }
  .blog__article_img-2-3 {
    margin: 0 auto;
    flex-grow: 0;
    max-width: 100%;
  }
  .blog__article_title {
    font-size: 34px;
    line-height: 42px;
  }
  .blog__article_btn-2 {
    display: block;
  }
  .blog__article_text p {
    max-width: 100%;
  }
}

.quotes {
  padding: 109px 0 108px;
  border-bottom: 1px solid #D8E3FE;
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}
.quotes .row {
  justify-content: center;
  gap: 132px;
}
.quotes .col-left {
  width: calc(50% - 66px);
}
.quotes .col-right {
  width: calc(50% - 66px);
}
.quotes__title {
  font-weight: 500;
  margin: 31px 0 14px;
}
.quotes__mini-header {
  color: #3D4F9F;
}
.quotes__text-info {
  font-weight: 600;
  color: #A4ABC8;
  max-width: 323px;
  line-height: 23px;
}
.quotes__dotes {
  column-gap: 12px;
}

/*# sourceMappingURL=style.css.map */
