.stats{

  @include laptop {
    $padding-from-center:80px;
    &__productivity {
      padding: 66px $padding-from-center 66px 0;
    }
    &__app {
      padding: 70px 0 66px $padding-from-center;
    }
  }

  @include tablet {
    $padding-from-center:70px;
    &__productivity {
      padding: 66px $padding-from-center 66px 0;
    }
    &__app {
      padding: 70px 0 66px $padding-from-center;
    }
  }

  @include mobile {
    $padding-from-center:50px;
    &__productivity {
      padding: 66px $padding-from-center 66px 0;
    }
    &__app {
      padding: 70px 0 66px $padding-from-center;
    }
  }

  @include mobile-xs {
    .container {
      padding: 0;
    }
    &-column{
      width: 100%;
    }

    $padding-from-center:15px;
    &__productivity {
      padding: 66px $padding-from-center 66px ;
      &-wrapper{
        margin: 0 auto;
      }
    }
    &__app {
      padding: 70px $padding-from-center 66px ;
      &-wrapper{
        margin: 0 auto;
      }
    }

  }

}