.customer{
  $color-customers: #D6DAE5;
  $hover-color-customers:#5982E7;
  $visited-color-customers:#757E9A;
  $active-color-customers:$accent-color;
  //background-color: #fff;
  padding: 60px 0;
  border-bottom: $border-bottom;
  .row{
    column-gap: 76px;
    justify-content: center;
    align-items: center;
    a{
      svg>path{
        fill:$color-customers;
      }
    }
    a:hover{
      svg>path{
        transition: $transition;
        fill:$hover-color-customers;
      }
    }
    a:visited{
      svg>path{
        fill:$visited-color-customers;
      }
    }

    svg>path{

      &:hover{
        transition: $transition;
        fill:$hover-color-customers;
      }
      &:active{
        fill:$active-color-customers;
      }
    }
  }

}
