.customer{
  @media (max-width: $content-width) {
    .row {
      column-gap: 70px;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media (max-width: $break-point__l) {

  }

  @media (max-width: $break-point__m) {

  }

  @media (max-width: $break-point__s) {

  }
}