.footer {
  $color-icons: #B6BAC7;
  $hover-color-icons:#6188FF;
  $visited-color-icons:#757E9A;
  $active-color-icons:$accent-color;
  $text-shadow-btn:0 4px 4px rgba(0, 0, 0, 0.25);
  $background-color:#fff;


  background-color: $background-color;
  padding: 93px 0 108px;
  border-bottom: $border-bottom;
  &__menu {
    column-gap: 73px;
    align-items: center;
  }

  &__logo {
    >a{
      width: 26px;
      height: 26px;
      border-radius: 50%;
      background-color: $accent-color;
    }
  }

  ul{
    align-items: center;
    column-gap: 42px;
    a{
      @extend %nav;

      &:hover{
        font-weight: $b;
        color:$accent-color;
        transition:$transition;
      }
    }
  }

  &__social {
    justify-content: end;
    align-items: center;
    column-gap:44px;
    &_icon {
      column-gap:35px;
      a{
        svg>path{
          fill:$color-icons;
        }
      }
      a:hover{
        svg>path{
          transition: $transition;
          fill:$hover-color-icons;
        }
      }
      a:visited{
        svg>path{
          fill:$visited-color-icons;
        }
      }

      svg>path{

        &:hover{
          transition: $transition;
          fill:$hover-color-icons;
        }
        &:active{
          fill:$active-color-icons;
        }
      }
    }

    &_button {
      @include btn($blue-bg-color);

      .btn-link{

        text-shadow: $text-shadow-btn;
      }
    }
  }
  &__copy{
    margin:28px 0 0 99px;
    @extend %txt-xs;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
  }
}


