.banner {
    padding: 92px 0 28px;
    background: url("./../assets/images/main/01_banner/background.svg") center center no-repeat;
    background-size: cover;

    border-bottom: $border-bottom;

    &__header {
        margin: 0 auto;
        text-align: center;

        h1{
            margin: 16px 0 28px;
            @include title($title-blue);
            span{
                font-weight: $m;
            }
        }
    }
    &__subtitle{
        @include smallest($smallest-blue);
    }

    &__text{
        margin: 0 auto;
        max-width: 502px;
        @include font($font-Roboto,$n);
        text-align: center;
        letter-spacing: 0.03em;
        color: $color-text;
    }

    &__start-video{
        width: 52px;
        height: 52px;
        background-color: #fff;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        margin: 20px auto 0;
        svg{
            justify-self: center;
            align-self: center;
        }
    }

    &__dotes{
        justify-content: center;
        align-items: end;
        margin-top: 176px;
        column-gap: 12px;
    }
}

