.banner {
    padding: 92px 0 284px;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    border-bottom: $border-bottom;

    &__header {
        margin: 0 auto;
        text-align: center;

        h1{
            margin: 16px 0 28px;
            font-size: 48px;
            line-height: 60px;
            font-weight: $l;
            color: #3D4F9F;
            span{
                font-weight: $m;
            }
        }
    }
    &__subtitle{
        font-family: $font-Roboto;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3D4F9F;
    }

    &__text{
        margin: 0 auto;
        max-width: 502px;
        @include font($font-Roboto,$n);
        line-height: 29px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #8D96BD;
    }
}

.container {}