.banner {
    $height-banner:calc(100vh - #{$header-margin});
    //padding: 92px 0 212px;
    padding: 20vh 0 0 0;
    min-height: $height-banner;
    border-bottom: $border-bottom;
    position: relative;
    z-index: 1;

    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    &:after{
        content:"";
        background: url("./../assets/images/main/banner/diagramma.svg") center/cover no-repeat;
        display: block;
        height: $height-banner;
        width: 100vw;
        position: absolute;
        bottom: 0;
        z-index: -20;

    }
    &:before{
        content:"";
        background: url("./../assets/images/main/banner/clouds.svg") center/cover no-repeat;
        display: block;
        height: $height-banner;
        width: 100vw;
        position: absolute;
        bottom: 0;
        z-index: -10;
    }

    &__header {
        margin: 0 auto;
        text-align: center;

        h1{
            margin: 16px 0 28px;
            @include title($title-blue);
            span{
                font-weight: $m;
            }
        }
    }
    &__subtitle{
        @include smallest($smallest-blue);
    }

    &__text{
        margin: 0 auto;
        max-width: 502px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $color-text;
        @include txt-s($n);
    }

    &__play-video{
        a{
            box-shadow: 0 10px 50px rgba(201, 209, 231, 0.6);
            width: 52px;
            height: 52px;
            background-color: #fff;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            margin: 20px auto 0;
            &:hover{
                background-color: $title-blue;
                cursor: pointer;
                svg > path{
                    fill:#fff;
                }
            }
        }
    }

    &__dotes{
        position: absolute;
        bottom: 28px;
        left:50%;
        transform: translateX(-50%);
        column-gap: 12px;
    }
}

