.blog{

  @include desktop {
    $arrow-margin: -70px;
    .arrow-l{
      left:$arrow-margin;
    }
    .arrow-r{
      right:$arrow-margin;
    }

    &__article{
      padding-left: 41px;
      max-width: 830px;

      &_img {
        flex-direction: column;
        &-2-3 {
          flex-direction: row;
          max-width: 267px;
        }
        &-2{
          width: calc(50% - 7px);
        }
        &-3{
          width: calc(50% - 7px);
        }
      }
    }
  }

  @include laptop {
    $arrow-margin: -52px;
    .arrow-l{
      left:$arrow-margin;
    }
    .arrow-r{
      right:$arrow-margin;
    }
    &__article{
      max-width: 630px;
      &_img {
        &_btn-2{
          display: block;
          justify-self: end;
        }
        flex-direction: column;
        gap: 13px;
        &-2-3 {
          max-width: 267px;
        }
      }
      &_text{
        p{
          margin: 53px 0 45px;
        }
      }
      &_btn-2{
        display: none;
      }
    }
  }

  @include tablet {
    &__arrow{
      display: none;
    }
    &__article{
      max-width: 500px;
      .row{
        flex-direction: column;
      }
      .col-left{
        width: 100%;
      }
      .col-right{
        width: 100%;
      }
      &_img {
        flex-direction: row;
        //max-width: 100%;
        gap: 13px;
        &-1{
          margin:0 auto;
        }
        &_btn-2{
          display: none;
        }
        &-2-3 {
          margin:0 auto;
          flex-direction: column;
          max-width: 127px;
          //max-width: 100%;
        }
        &-2{
          width: 100%;
        }
        &-3{
          width: 100%;
        }
      }
      &_title{
        font-size: 34px;
        line-height: 42px;
      }
      &_btn-2{
        display: block;
      }
      &_text{
        p{
          max-width: 100%;
        }
      }
      &_text{
        p{
          margin: 35px 0 35px;
        }
      }
    }
  }

  @include mobile {
    &__search {
      width: 60px;
      height: 60px;
    }
    .row{
      gap:50px;
    }
    &__article{
      padding: 55px 30px;
      max-width: 390px;
      .row{
        flex-direction: column;
      }
      .col-left{
        width: 100%;
      }
      .col-right{
        width: 100%;
      }
      &_img {
        //max-width: 100%;
        gap: 13px;
        &-2-3 {
          flex-direction:  row;
          max-width: 267px
          //max-width: 100%;
        }
        &-2{
          width: calc(50% - 7px);
          &:hover {
            .blog__search {
              width: 40px;
              height: 40px;
            }
          }
        }
        &-3{
          width: calc(50% - 7px);
          &:hover {
            .blog__search {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
      &_title{
        font-size: 34px;
        line-height: 42px;
      }
      &_btn-2{
        display: block;
      }
      &_text{
        h4{
          font-size: 32px;
          line-height: 38px;
        }
        p{
          margin: 30px 0 30px;
        }
      }
    }
  }

  @include mobile-xs {
    &__search {
      width: 55px;
      height: 55px;
    }
    .row{
      gap:40px;
    }
    &__article{
      max-width: 390px;

      &_title{
        font-size: 34px;
        line-height: 42px;
      }
      &_btn-2{
        display: block;
      }
      &_text{
        h4{
          font-size: 27px;
          line-height: 36px;
        }
        p{
          margin: 30px 0 30px;
        }
      }
      &_btn-1{
        width: 100%;
      }
      &_btn-2{
        width: 100%;
      }
      &_img{
        &-2 {
          &:hover {
            .blog__search {
              width: 32px;
              height: 32px;
            }
          }
        }
        &-3 {
          &:hover {
            .blog__search {
              width: 32px;
              height: 32px;
            }
          }
        }
      }

    }
  }
}