.banner{
  position: relative;


  @include laptop{
    &:before {
      background-size: contain;
      background-repeat: repeat;
    }
    &:after {
      background-size: contain;
      height: 80%;
    }
    //padding: 85px 0 25px;

    &__header {
      h1 {
        margin: 16px 0 28px;
        font-size: 42px;
        line-height: 54px;
      }

      &__dotes {
        margin-top: 160px;
      }
    }
  }

  @include tablet {
    &:after {
      background-size: contain;
      height: 61%;
    }
    //padding: 70px 0 25px;
    font-size: 14px;
    line-height: 22px;
    &__header {
      h1{
        margin: 15px 0 26px;
        font-size: 38px;
        line-height: 50px;
      }
    }

  }

  @include mobile {
    &:after {
      background-size: contain;
      height: 45%;
    }
    //padding: 60px 0 20px;
    font-size: 13px;
    line-height: 22px;
    &__header {
      h1{
        margin: 15px 0 26px;
        font-size: 32px;
        line-height: 40px;
      }
    }
    &__text{
      max-width: 420px;
      font-size: 13px;
    }

  }

  @include mobile-xs {
    &:after {
      background-size: contain;
      height: 37%;
    }
    //padding: 60px 0 20px;
    &__header {
      h1{
        margin: 13px 0 25px;
        font-size: 30px;
        line-height: 40px;
      }
    }
    &__text{
      max-width: 100%;
    }

  }

  @include mobile-extra-xs{
    &:after {
      background-size: contain;
      height: 32%;
    }
  }
}