.features{
  @include desktop {
      padding: 160px 0;
  }

  @include laptop {
    padding: 150px 0;
    &__row{
      column-gap: 60px;
    }
    &__item{
      width: calc((100% - 60px*3) / 4);
    }
  }

  @include tablet {
    background-repeat: repeat;
    padding: 130px 0;
    &__row{
      column-gap: 70px;
      row-gap: 60px;
    }
    &__item{
      width: calc(50% - 35px);
      font-family: $font-OpenSans;
    }
  }

  @include mobile {
    padding: 120px 0;
  }

  @include mobile-xs  {
    padding: 110px 0;
    &__row{
      row-gap: 60px;
      margin: 65px auto 80px;
    }
    &__item{
      width: 100%;
      p{
        max-width: 300px;
        margin: 0 auto;
      }
    }
    &__buttons {
      flex-direction: column;
      p{
        margin: 30px 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        &::before{
          width: 18px;
          height: 1px;
          position: absolute;
          top: 50%;
          left: -37px;
        }
        &::after{
          width: 18px;
          height: 1px;
          position: absolute;
          top: 50%;
          left: 38px;
        }
      }
    }
  }

  @include mobile-extra-xs {
    padding: 100px 0;
    &__row{
      margin: 60px auto 75px;
    }
    &__item{
      width: 100%;
      p{
        max-width: 100%;
        margin: 0 auto;
      }
    }

    &__buttons {
      flex-direction: column;
      p{
        margin: 30px 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        &::before{
          width: 18px;
          height: 1px;
          position: absolute;
          top: 50%;
          left: -37px;
        }
        &::after{
          width: 18px;
          height: 1px;
          position: absolute;
          top: 50%;
          left: 38px;
        }
      }
    }
  }
}