.quotes{
  padding: 109px 0 108px;
  border-bottom: $border-bottom;
  background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
  .row{
    justify-content: center;
    gap:132px;
  }
  .col-left{
    width: calc(50% - 66px);
  }
  .col-right{
    width: calc(50% - 66px);
  }
  &__title{
    @include subtitle($m);
    margin: 31px 0 14px;
  }
  &__mini-header{
    @include smallest($smallest-blue);
  }
  &__text{
    &-info{
      @include txt-xs($sb);
      color: #A4ABC8;
      max-width: 323px;
      line-height: 23px;
    }
  }

  &__dotes{
    column-gap: 12px;
  }
}