body{
  font-family: $font-Roboto;
  color:$main-color-font;
  font-size: $fz-main;
  font-weight: $fw-main;
  line-height: $line-height;
}
.main{
  flex-grow: 1;
  margin-top: $header-margin;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.container{
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $hor-padding;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-left {
  width: 50%;
}
.col-right {
  width: 50%;
}
nav{
  @extend %nav;
}

.btn{
  @extend %btn;
  &-link{
    @extend %btn-link;
  }
}


.d-flex{
  display: flex;
}


.link{
  display: block;
  text-decoration: none;
  color:inherit;
  text-align: center;
}

.dote{
  &-active{
    background-color: $accent-color;
  }
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #D6DAE5;
  &:hover{
    background-color: $accent-color;
    transition: $transition;
  }
}









@media (max-width: $content-width) {
  .container {
    max-width: $break-point__l;
  }
}

@media (max-width: $break-point__l) {
  .container {
    max-width: $break-point__m;
  }
}

@media (max-width: $break-point__m) {
  .container {
    max-width: $break-point__s;
  }
}

@media (max-width: $break-point__m) {
  .container {
    max-width: none;
  }
}