body{
  @include font ($font-Quicksand,$m);
  color:$main-color-font;
  font-size: $main-fz-font;
}
.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}
.container{
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $hor-padding;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-left {
  width: 50%;
}
.col-right {
  width: 50%;
}

.nav {
}
.btn{
  @extend %btn;
}
.btn-link{
  @extend %btn-link;
}

.d-flex{
  display: flex;
}


.link{
  display: inline-block;
  text-decoration: none;
  color:inherit;
  width: 100%;
}