%nav{
  font-size: 12px;
  line-height: 15px;
  color:$color-nav;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  text-shadow: 0 0 5px #E6E6E6;
  text-align: center;
  font-family: $font-Quicksand;
}

%btn{
  border-radius: 2px;
}

%btn-link{
  font-size: $fz-btn;
  font-weight: $b;
  transition: $transition;
  line-height: $lh-btn;
  text-align: center;
  font-family: $font-Quicksand;
  min-width: 113px;
  min-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $ver-padding-btn 0;
  letter-spacing: 0;
}

%txt-title-h1{
  font-family: $font-Quicksand;
  font-size: 48px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 0;
}
%txt-subtitle-h2{
  font-family: $font-Quicksand;
  font-size: 36px;
  line-height: 45px;
  color:$title-blue;
  letter-spacing: 0;
}
%smallest-txt{
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  color: #3D4F9F;
  text-transform: uppercase;
  font-family: $font-Roboto;
}

%txt-l{
  font-family: $font-Quicksand;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0;
  color: #3D4F9F;

}

%txt-m{
  font-family: $font-Quicksand;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0;
}

%txt-s{
  font-size: 15px;
  line-height: 29px;
  letter-spacing: 0.03em;
}

%txt-xs {
  font-size: 12px;
  line-height: 15px;
  font-family: $font-Quicksand;
  letter-spacing: 0.05em;
}

%txt-main{}



