$content:1206px;
$hor-padding:15px;
$content-width: $content+($hor-padding *2);
$accent-color:#5E81FE;
$border-bottom:1px solid #D8E3FE;
$header-margin:81px;

$break-point__xl: $content-width;
$break-point__l:1024px;
$break-point__m:767px;
$break-point__s:576px;
$break-point__xs: 470px;
$break-point__extra-xs:370px;



$color-nav:#697CA6;
$title-blue:#3D4F9F;
$smallest-blue:#3D4F9F;
$color-text:#8D96BD;

//main-font
$fz-main:14px;
$line-height: 27px;
$main-color-font:#8D96BD;
$fw-main:500;
$letter-space:  0.03em;


$font-Quicksand:Quicksand, "sans-serif";
$font-Roboto: Roboto, "sans-serif";
$font-OpenSans: "Open Sans", "sans-serif";
$m:500;
$b:700;
$sb:600;
$l:300;
$n:400;


$transition:.3s;
$ver-padding-btn:13px;
$fz-btn:13px;
$lh-btn:16px;
$blue-bg-color:#D2E1FF;
$blue-fz-color:#3A79FF;
$red-bg-color:#FFD7D7;
$red-fz-color:#D43F3F;
$gray-bg-color:#E8ECF4;
$gray-fz-color:#7382A3;
$Bblue-bg-color:#4C85FF;
$Bwhite-fz-color:#FFFFFF;

