$content:1206px;
$hor-padding:15px;
$content-width: $content+($hor-padding *2);
$accent-color:#5E81FE;
$border-bottom:1px solid #D8E3FE;


$main-color-font:#8D96BD;
$color-nav:#697CA6;
$main-fz-font:15px;
$font-Quicksand:Quicksand, "sans-serif";
$font-Roboto: Roboto, "sans-serif";
$font-OpenSans: OpenSans, "sans-serif";
$m: 500;
$b:700;
$sb:600;
$l:300;
$n:400;


$transition:.3s;
$ver-padding-btn:13px;
$fz-btn:13px;
$lh-btn:16px;
$blue-b-color:#D2E1FF;
$blue-f-color:#3A79FF